{% extends 'bootstrap/base.html' %}

{% block title %}ABOUT{% endblock %}

{% block content %}
 <div class="container text-center">

  <h1>Welcome to my ABOUT page!</h1>
  <h2>О приложении</h2>
  <p>This is the ABOUT.1234567890</p>
 <p> Моя  вторая страница </p>
<h1><a href="/">На главную</a></h1>
PyCharm 2024.1.1 (Community Edition)
Build #PC-241.15989.155, built on April 29, 2024
Runtime version: 17.0.10+1-b1207.14 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Linux 6.8.10-300.fc40.x86_64
GC: G1 Young Generation, G1 Old Generation
Memory: 2048M
Cores: 4
Registry:
  ide.experimental.ui=true
Current Desktop: GNOME

 </div>
{% endblock %}
